{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
{% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}


<div class="parallax-subpage">
    <h1 class="text-black parallax-text">Admin Dashboard</h1>
</div>

<div class="container main-page-container">
    <h2>Create New:</h2><br>
    <button type="button"  class="orange-button" data-toggle="collapse" data-target="#collapseUser"
        aria-expanded="false" aria-controls="collapseUser"><i class="material-icons">person_add</i>  Create New
        User</button>&nbsp;&nbsp;
    <button type="button" class="orange-button" data-toggle="collapse" data-target="#collapseOrg"
        aria-expanded="false" aria-controls="collapseOrg"><i class="material-icons">group_add</i>  Create New
        Organization</button>&nbsp;&nbsp;
    <br>

    
    <div class="collapse {{ modalStatus }}" id="collapseUser">
        <br>
        <div class="card card-body">
            <form method="POST" action="{% url 'Dashboard' %}">
                <table>
                    {{form}}
                </table>

                {% csrf_token %}
                <button type="submit" class="orange-button">Submit</button>
            </form>
        </div>

        <br><br><br>
        <!-- Admin table display -->
        <h2>Admins:</h2>
        <div style="overflow-x: auto">
            <table class="styled-table">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Active?</th>
                </tr>
                {% for admin in admins %}
                <tr>
                    <td>{{ admin.username }}</td>
                    <td>{{ admin.first_name }}</td>
                    <td>{{ admin.last_name }}</td>
                    <td>{{ admin.email }}</td>
                    <td>{{ admin.phone }}</td>
                    <td>{{ admin.organization.name }}</td>
                    {% if admin.is_active %}
                    <td>&#10004;</td>
                    {% else %}
                    <td>&#10060;</td>
                    {% endif %}
                    <td class="button-cell"><a href="{% url 'Edit User' id=admin.id %}" class="btn btn-warning"><i
                                class="material-icons">edit</i>Edit</a></td>
                    <!-- Hide a delete option for the admin already logged in -->
                    {% if admin.id != user.id %}
                    <td class="button-cell"><a href="{% url 'Delete User' id=admin.id %}" class="btn btn-danger"><i
                                class="material-icons">delete</i>Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>

        <br>
        <hr><br>

        <!-- Supervisor table display -->
        <h2>Supervisors:</h2>
        {% if supervisors.count > 0 %}
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Active?</th>
                </tr>
                {% for supervisor in supervisors %}
                <tr>
                    <td>{{ supervisor.username }}</td>
                    <td>{{ supervisor.first_name }}</td>
                    <td>{{ supervisor.last_name }}</td>
                    <td>{{ supervisor.email }}</td>
                    <td>{{ supervisor.phone }}</td>
                    <td>{{ supervisor.organization.name }}</td>
                    {% if supervisor.is_active %}
                    <td>&#10004;</td>
                    {% else %}
                    <td>&#10060;</td>
                    {% endif %}
                    <td class="button-cell"><a href="{% url 'Edit User' id=supervisor.id %}" class="btn btn-warning"><i
                                class="material-icons">edit</i>Edit</a></td>
                    <td class="button-cell"><a href="{% url 'Delete User' id=supervisor.id %}" class="btn btn-danger"><i
                                class="material-icons">delete</i>Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
        <em>
            <p style="margin: auto;">There are no supervisors in the system.</p>
        </em>
        {% endif %}

        <br>
        <hr><br>

        <!-- Reentry Coordinator table display -->
        <h2>Reentry Coordinators:</h2>
        {% if reentry_coordinators.count > 0 %}
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Active?</th>
                </tr>
                {% for reentry_coordinator in reentry_coordinators %}
                <tr>
                    <td>{{ reentry_coordinator.username }}</td>
                    <td>{{ reentry_coordinator.first_name }}</td>
                    <td>{{ reentry_coordinator.last_name }}</td>
                    <td>{{ reentry_coordinator.email }}</td>
                    <td>{{ reentry_coordinator.phone }}</td>
                    <td>{{ reentry_coordinator.organization.name }}</td>
                    {% if reentry_coordinator.is_active %}
                    <td>&#10004;</td>
                    {% else %}
                    <td>&#10060;</td>
                    {% endif %}
                    <td class="button-cell"><a href="{% url 'Edit User' id=reentry_coordinator.id %}"
                            class="btn btn-warning"><i class="material-icons">edit</i>Edit</a></td>
                    <td class="button-cell"><a href="{% url 'Delete User' id=reentry_coordinator.id %}"
                            class="btn btn-danger"><i class="material-icons">delete</i>Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
        <em>
            <p style="margin: auto;">There are no Reentry Coordinators in the system.</p>
        </em>
        {% endif %}

        <br>
        <hr><br>

        <!-- Community Outreach Worker table display -->
        <h2>Community Outreach Workers:</h2>
        {% if community_outreach_workers.count > 0 %}
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Active?</th>
                </tr>
                {% for community_outreach_worker in community_outreach_workers %}
                <tr>
                    <td>{{ community_outreach_worker.username }}</td>
                    <td>{{ community_outreach_worker.first_name }}</td>
                    <td>{{ community_outreach_worker.last_name }}</td>
                    <td>{{ community_outreach_worker.email }}</td>
                    <td>{{ community_outreach_worker.phone }}</td>
                    <td>{{ community_outreach_worker.organization.name }}</td>
                    {% if community_outreach_worker.is_active %}
                    <td>&#10004;</td>
                    {% else %}
                    <td>&#10060;</td>
                    {% endif %}
                    <td class="button-cell"><a href="{% url 'Edit User' id=community_outreach_worker.id %}"
                            class="btn btn-warning"><i class="material-icons">edit</i>Edit</a></td>
                    <td class="button-cell"><a href="{% url 'Delete User' id=community_outreach_worker.id %}"
                            class="btn btn-danger"><i class="material-icons">delete</i>Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
        <em>
            <p style="margin: auto;">There are no Community Outreach Workers in the system.</p>
        </em>
        {% endif %}

        <br>
        <hr><br>

        <!-- Service Provider table display -->
        <h2>Service Providers:</h2>
        {% if service_providers.count > 0 %}
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Active?</th>
                </tr>
                {% for service_provider in service_providers %}
                <tr>
                    <td>{{ service_provider.username }}</td>
                    <td>{{ service_provider.first_name }}</td>
                    <td>{{ service_provider.last_name }}</td>
                    <td>{{ service_provider.email }}</td>
                    <td>{{ service_provider.phone }}</td>
                    <td>{{ service_provider.organization.name }}</td>
                    {% if service_provider.is_active %}
                    <td>&#10004;</td>
                    {% else %}
                    <td>&#10060;</td>
                    {% endif %}
                    <td class="button-cell"><a href="{% url 'Edit User' id=service_provider.id %}"
                            class="btn btn-warning"><i class="material-icons">edit</i>Edit</a></td>
                    <td class="button-cell"><a href="{% url 'Delete User' id=service_provider.id %}"
                            class="btn btn-danger"><i class="material-icons">delete</i>Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
        <em>
            <p style="margin: auto;">There are no Service Providers in the system.</p>
        </em>
        {% endif %}

        <br>
        <hr><br>

        <!-- Resource Coordinator table display -->
        <h2>Resource Coordinators:</h2>
        {% if resource_coordinators.count > 0 %}
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Organization</th>
                    <th>Active?</th>
                </tr>
                {% for resource_coordinator in resource_coordinators %}
                <tr>
                    <td>{{ resource_coordinator.username }}</td>
                    <td>{{ resource_coordinator.first_name }}</td>
                    <td>{{ resource_coordinator.last_name }}</td>
                    <td>{{ resource_coordinator.email }}</td>
                    <td>{{ resource_coordinator.phone }}</td>
                    <td>{{ resource_coordinator.organization.name }}</td>
                    {% if resource_coordinator.is_active %}
                    <td>&#10004;</td>
                    {% else %}
                    <td>&#10060;</td>
                    {% endif %}
                    <td class="button-cell"><a href="{% url 'Edit User' id resource_coordinator.id %}"
                            class="btn btn-warning"><i class="material-icons">edit</i>Edit</a></td>
                    <td class="button-cell"><a href="{% url 'Delete User' id resource_coordinator.id %}"
                            class="btn btn-danger"><i class="material-icons">delete</i>Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
        <em>
            <p style="margin: auto;">There are no Resource Coordinators in the system.</p>
        </em>
        {% endif %}

        <br>
        <hr><br>
    </div>

    <div class="collapse {{ modalStatus }}" id="collapseOrg">
        <br>
        <div class="card card-body">
            <form method="POST" action="{% url 'Dashboard' %}">
                <div style="display: flex; align-items: center;">
                    <label for="orgs">Organization name: </label>&nbsp;&nbsp;
                    <input type="text" id="name" name="org_name" class="form-control organization" style="width: 300px; height: 40px; margin-bottom: 20px;">
                    {% csrf_token %}
                </div>
                <button type="submit" class="orange-button">Submit</button>
                <br>
            </form>
        </div>
        <br>
        <!-- Organization table display -->
        <h2>Organizations:</h2>
        {% if orgs.count > 0 %}
        <div style="overflow-x: auto;">
            <table>
                <tr>
                    <th>Organization Name</th>
                    <th>Active?</th>
                </tr>
                {% for org in orgs %}
                <tr>
                    <td>{{ org.name }}</td>
                    {% if org.is_active %}
                    <td>&#10004;</td>
                    {% else %}
                    <td>&#10060;</td>
                    {% endif %}
                    <td class="button-cell"><a href="{% url 'Edit Org' id=org.id %}" class="btn btn-warning"><i
                                class="material-icons">edit</i>Edit</a></td>
                    <td class="button-cell"><a href="{% url 'Delete Org' id=org.id %}" class="btn btn-danger"><i
                                class="material-icons">delete</i>Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        {% else %}
        <em>
            <p style="margin: auto;">There are no Organizations in the system.</p>
        </em>
        {% endif %}

        <hr>
        <br>


    </div>

    <br><br><br>


    <!-- Download spreadsheet or reset resource clicks -->
    <h2>Data Management:</h2><br>
        <a href="{% url 'Export Selected Data' %}"><button type="button" class="bordered-button"><i class="material-icons">get_app</i>Download Meeting and Risk Data</button></a>&nbsp;&nbsp;
        <a href="{% url 'Export Data' %}"><button type="button" class="bordered-button"><i class="material-icons">get_app</i>Download Referral Data Spreadsheet</button></a>&nbsp;&nbsp;
        <a href="{% url 'Reset Views' %}"><button type="button" class="red-button">Reset Resource Clicks</button></a>&nbsp;&nbsp;    
    <br><br>

</div>

{% endblock %}