{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Delete Risk Assessment Response
{% endblock %}{% endblock %}

{% block content %}
<div class="parallax-subpage">
    <h1 class="text-black parallax-text">
       Risk Assessment Response Actions
    </h1>
</div>

<div class="container main-page-container">
    <form method="POST" enctype="multipart/form-data" class="resource-form">
        {% csrf_token %}
        <h3>
            Are you sure you want to delete this response?
        </h3>
        <br><br>
        <p>{{ response.user.get_full_name }} reporting {{ response.risk_level }} in {{response.neighborhood}} on {{response.date}}</p>
        <br>
        <div>
            <br>
            <p><button class="orange-button" type="submit">Delete</button>
            <a href="javascript:history.back()" class="btn">Cancel</a></p>
        </div>
    </form>
</div>
<br><br><br><br>
{% endblock %}