{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Delete Bi-Weekly Attendance Response
{% endblock %}{% endblock %}

{% block content %}
    <form method="POST" enctype="multipart/form-data" class="resource-form">
        {% csrf_token %}
        <h3 style="margin: auto; margin-top: 50px; text-align: center;">
            Are you sure you want to delete this response? <br>
            <br>
            {{ response.user.get_full_name }} on {{response.date}}
        </h3>
        <div style="margin: auto; margin-top: 50px; text-align: center;">
            <p><button class="btn btn-primary" type="submit">Delete</button>
            <a href="javascript:history.back()" class="btn">Cancel</a></p>
        </div>
    </form>
{% endblock %}