{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Edit User
{% endblock %}{% endblock %}

{% block content %}
    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">
            Edit Referral Notes
        </h1>
    </div>

    <div class="container main-page-container">
        <div class="row">
            <div class="col">
                <form method="POST" enctype="multipart/form-data" class="resource-form">
                {% csrf_token %}
                <table>
                    {{ form }}
                </table>
                <button class="btn btn-primary" type="submit" style="margin-left: 14px;">Save Notes</button>
            </form>
            <br><br><br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_scripts %}
<script>
    $('label[for="id_notes"]').css('display', 'none');
</script>
{% endblock %}