{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Edit Student Weekly Update
{% endblock %}{% endblock %}

{% block content %}
    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">
            Edit Student Weekly Update
        </h1>
    </div>

    <div class="container main-page-container">
        <div class="row">
            <div class="col">
                <form method="POST" enctype="multipart/form-data" class="resource-form">
                    {% csrf_token %}
                    <table>
                        {{ form }}
                        <input type="hidden" name="id_student" value="{{ weekly_update.student.id }}"><br>
                    </table>
                    <button class="btn btn-primary" type="submit">Save Student Weekly Update</button>
                </form>
                <br></br>
            </div>
        </div>
    </div>
{% endblock %}