{% block footer %}

{% load static %}
		<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
		
<div class="footer">
    <h4>Reach Realistic ReEntry at:</h4>
    <p><i class="material-icons">phone</i>    412-980-2776</p>
    <p><i class="material-icons">mail</i>  realisticreentry@gmail.com</p>
    <p><i class="material-icons">place</i>    801 N Homewood Ave # A, Pittsburgh, PA 15208</p>
    <hr/>
    <p class="footer-rights">Realistic ReEntry | All rights reserved.</p>
</div>


<!-- {% endblock %} -->
