{% block footer %}

{% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
		
<div class="footer">
    <h4>CONTACT US</h4>
    <!-- <p><i class="material-icons">phone</i>    412-980-2776</p> -->
    <p><i class="material-icons">phone</i><a href="tel:412-980-2776" class="embedded-link-white">    412-980-2776</a></p>
                            
    <!-- <p><i class="material-icons">mail</i>  tthompson@obbinc.org    </p> -->
    <p><a href="mailto:tthompson@obbinc.org" target="_blank" class="embedded-link-white"><i class="material-icons">email</i>  tthompson@obbinc.org</a></p>
    <p><i class="material-icons">place</i>    Operation Better Block, 801 N Homewood Ave # A, Pittsburgh, PA 15208</p>
    <hr/>
    <p class="footer-rights">Realistic ReEntry | All rights reserved.</p>
</div>


<!-- {% endblock %} -->
