{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Show Resource
{% endblock %}{% endblock %}

{% block content %}
    <div class="parallax-subpage">
        <h1 class="text-black parallax-text" ">Resource Details</h1>
    </div>

    <div class="container main-page-container">
        <!-- Display attributes depending on if they're provided -->
        <div class="container mt-5">
            <!-- display contact and imageg side by side if present, otherwise take up resource_details take up entire page -->
            {% if resource.image or resource.phone or resource.email or resource.contact_name %}
            <div class="row align-items-start">
                <!-- LEFT SIDE: IMAGE OR CONTACT INFO -->
                <div class="col-md-3">
                    {% if resource.image %}
                   
                        <div class="text-center">
                            <img class="resource-img" src="{% url 'Image' resource.id %}"></img>
                        </div>
                        <br><br><br>
                    {% endif %}
                    
                        
                    {% if resource.phone or resource.email or resource.contact_name%}
                        <h4>Contact Information</h4>
                        <div class="contact-info">
                            <div class="card-body">
                                {% if resource.phone and resource.extension %}
                                    <p><b>Phone: </b><a href="tel:{{resource.phone}}p{{resource.extension}}" target="_blank" class="embedded-link">{{ resource.phone }}x{{resource.extension}}</a></p>
                                {% else %}
                                    {% if resource.phone %}
                                        <p><b>Phone: </b><a href="tel:{{resource.phone}}" target="_readblank"  class="embedded-link">{{ resource.phone }}</a></p>
                                    {% endif %}
                                {% endif %}

                                {% if resource.email %}
                                    <p><b>Email: </b><a href="mailto:{{resource.email}}" target="_blank" class="embedded-link">{{ resource.email }}</a></p>
                                {% endif %}

                                {% if resource.fax_number %}
                                    <p><b>Fax: </b><a href="tel:{{resource.fax_number}}" target="_blank" class="embedded-link">{{ resource.fax_number }}</a></p>
                                {% endif %}

                                {% if resource.contact_name %}
                                    {% if resource.contact_position %}
                                        <p><b>Point of Contact: </b>{{ resource.contact_name }}, {{ resource.contact_position }}</p>
                                    {% else %}
                                        <p><b>Point of Contact: </b>{{ resource.contact_name }}</p>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </div> 
                
                <div class="col-md-1">
                    <p></p>
                </div>

                <!-- right section -->
                <div class="col-md-8">
                    {% include 'NewEra/resource_details.html' %} 
                </div>
            </div> 
            {% else %}  
                    {% include 'NewEra/resource_details.html' %} 
            {% endif %}   

        </div>
        
        <!-- ADMIN ACTIONS -->
        <div>
            <br><br><br>
            {% if perms.resource.edit_resource %}
            {% if resource.is_active %}
                <p>Status: <b>Active</b></p>
            {% else %}
                <p>Status: <b>Inactive</b></p>
            {% endif %}
            {% endif %}

            {% if perms.resource.edit_resource %}
                <a href="{% url 'Edit Resource' resource.id %}" class="warning-button"><i class="material-icons">edit</i>Edit</a>
            {% endif %}

            {% if perms.resource.delete_resource %}
                <a href="{% url 'Delete Resource' resource.id %}" class="danger-button"><i class="material-icons">delete</i>Delete</a>
            {% endif %}
        </div>

    </div>
    <br><br><br><br>

{% endblock %}

{% block page_specific_scripts %}
    {{ form.media }}
{% endblock %}