{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Show Resource
{% endblock %}{% endblock %}

{% block content %}

    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">Case Load User</h1>
    </div>

    <div class="container main-page-container">
        <div class="">

            <!-- Display the nickname of the case load user if they have one -->
            {% if case_load_user.nickname %}
                <h4 style="font-style: italic;">Name: {{ case_load_user.get_full_name }} ({{ case_load_user.nickname }})</h4>
            {% else %}
                <h4 style="font-style: italic;">Name: {{ case_load_user.get_full_name }}</h4>
            {% endif %}
            <br>
            
            <!-- Mark the case load user as active or inactive -->
            <h4>Status:</h4>
            {% if case_load_user.is_active %}
                <p class="text-success">Active</p><br>
            {% else %}
                Status: <p class="text-danger">Inactive</p><br>
            {% endif %}

            {% if request.user.is_superuser %}
                <h3>Assignee</h3>
                <p>{{ case_load_user.user }}</p><br>
            {% endif %}

            <h4>Phone:</h4>
            <p><a href="tel:{{case_load_user.phone}}">{{ case_load_user.phone }}</a></p><br>

            <h4>Email:</h4>
            <p><a href="mailto:{{case_load_user.email}}">{{ case_load_user.email }}</a></p><br>

            <h4>Neighborhood:</h4>
            <p>{{ case_load_user.neighborhood }}</p><br>

            <h4>Case Label:</h4>
            <p>{{ case_load_user.case_label }}</p><br>

            <h4>Voter Registration Status:</h4>
            <p>{{ case_load_user.is_vote_registered }}</p><br>
            
            <h4>Employment Status:</h4>
            <p>{{ case_load_user.is_employed }}</p><br>

            <h4>Notes:</h4><br>
            <a href="{% url 'Create Note' case_load_user.id %}" class="orange-button"><i class="material-icons">add</i>Add Note</a><br>
            <br>
            {% for n in notes %}
                <div class="card card-body">
                    <span>{{ n.activity_type }}, {{ n.hours }} hours</span><br>
                    <span>{{ n.notes }}</span><br>
                    <span>{{ n.date }}</span><br>
                    <a href="{% url 'Edit Note' n.id %}"><i>Edit</i></a>
                    <a href="{% url 'Delete Note' n.id %}"><i>Delete</i></a><br>

                    <br>
                </div>
            {% endfor %}

        </div>

        <br><hr><br>
        <a href="{% url 'Edit Case Load User' case_load_user.id %}" class="warning-button"><i class="material-icons">edit</i>Edit</a>
        <a href="{% url 'Delete Case Load User' case_load_user.id %}" class="danger-button"><i class="material-icons">delete</i>Delete</a>
        <a href="{% url 'Export CaseLoadUser Data' case_load_user.id %}" class="btn btn-sm download-button">Export Data</a></td>

    </div>
    <br><br><br><br>

{% endblock %}