{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Student Quarterly Update
{% endblock %}{% endblock %}

{% block content %}
    <div style="width: 80%; margin: auto; padding-top: 10vh;">
        <div class="">
            <!-- Display the student name -->
            <h1>{{ quarterly_update.student.get_full_name }}</h1>
            
            <!-- Mark the update as active or inactive -->
            {% if quarterly_update.is_active %}
                Status: <p class="text-success">Active</p>
            {% else %}
                Status: <p class="text-danger">Inactive</p>
            {% endif %}

            {% if request.user.is_superuser or request.user.is_safe_passage_coordinator_supervisor %}
                <h3>Safe Passage Coordinator</h3>
                <p>{{ quarterly_update.student.user.get_full_name }}</p>
            {% endif %}

            <h3>Q1 GPA</h3>
            <p>{{ quarterly_update.q1_gpa }}</p>

            <h3>Q1 Behavioral Infractions</h3>
            <p>{{ quarterly_update.q1_behavioral_infractions }}</p>

            <h3>Q1 Resources Referred</h3>
            <p>{{ quarterly_update.student.q1_resources_referred }}</p>

            <h3>Q2 GPA</h3>
            <p>{{ quarterly_update.q2_gpa }}</p>

            <h3>Q2 Behavioral Infractions</h3>
            <p>{{ quarterly_update.q2_behavioral_infractions }}</p>

            <h3>Q2 Resources Referred</h3>
            <p>{{ quarterly_update.student.q2_resources_referred }}</p>

            <h3>Q3 GPA</h3>
            <p>{{ quarterly_update.q3_gpa }}</p>

            <h3>Q3 Behavioral Infractions</h3>
            <p>{{ quarterly_update.q3_behavioral_infractions }}</p>

            <h3>Q3 Resources Referred</h3>
            <p>{{ quarterly_update.student.q3_resources_referred }}</p>

            <h3>Q4 GPA</h3>
            <p>{{ quarterly_update.q4_gpa }}</p>

            <h3>Q4 Behavioral Infractions</h3>
            <p>{{ quarterly_update.q4_behavioral_infractions }}</p>

            <h3>Q4 Resources Referred</h3>
            <p>{{ quarterly_update.student.q4_resources_referred }}</p>
        </div>

        <br><hr><br>

        <a href="{% url 'Edit Quarterly Student Update' quarterly_update.id %}" class="btn btn-warning"><i class="material-icons">edit</i>Edit</a>

        <a href="{% url 'Delete Quarterly Student Update' quarterly_update.id %}" class="btn btn-danger"><i class="material-icons">delete</i>Delete</a>
    </div>
    <p>&nbsp;</p>

{% endblock %}