{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Show Resource
{% endblock %}{% endblock %}

{% block content %}
    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">Referral Details</h1>
    </div>

    <div class="container main-page-container">
        <div class="">
            <h4 style="font-style: italic;">SOW: {{ referral.user }}</h4>
            <br>

            <!-- Display nickname on referral if it has a case load user and they have a nickname -->
            {% if referral.caseUser %}
                {% if referral.caseUser.nickname %}
                    <h4 style="font-style: italic;">
                        Case Load User: 
                        <a class="read-link" style="text-decoration: underline;" href="{% url 'Show Case Load User' id=referral.caseUser.id %}">
                            {{ referral.caseUser.get_full_name }} ({{ referral.caseUser.nickname }})
                        </a>
                    </h4>
                {% else %}
                    <h4 style="font-style: italic;">
                        Case Load User: 
                        <a class="read-link" style="text-decoration: underline;" href="{% url 'Show Case Load User' id=referral.caseUser.id %}">
                            {{ referral.caseUser.get_full_name }}
                        </a>
                    </h4>
                {% endif %}
                <br/><hr><br/>
            {% endif %}

            <h4>Phone:</h4>
            <p>{{ referral.phone }}</p><br>

            <h4>Email:</h4>
            <p>{{ referral.email }}</p><br>

            <h4>Notes:</h4>
            <p>{{ referral.notes }}</p>
            <a href="{% url 'Edit Referral Notes' id=referral.id %}" class="btn btn-sm warning-button">Edit Notes</a>
            <br><br><br>
            
            <h4>Date Created:</h4>
            <p>{{ referral.referral_date }}</p><br>

            <h4>Accessed:</h4>
            {% if referral.date_accessed %}
                <p>Yes, on {{ referral.date_accessed }}</p><br>
            {% else %}
                <p>No</p><br>
            {% endif %}

            <h4>Resources Referred:</h4><br>
            <div class="row">
                {% for r in resources %}
                    <a href="{% url 'Show Resource' id=r.id %}">
                        <div class="col-sm-4">
                            <div id="resource-{{ r.id }}" class="card resource-card" style="width: 18rem;">
                                <!-- Display image if available -->
                                {% if r.image %}
                                    <img class="card-img-top" src="{% url 'Image' r.id %}" alt="Card image cap">
                                {% endif %} 
                                <div class="card-body">
                                    <h4 class="card-title">{{ r.name }}</h4>
                                    <!-- Display URL if available -->
                                    {% if r.url %}
                                        <p><a href="{{r.url}}"><i class="material-icons">link</i>{{ r.url }}</a></p>
                                    {% else %}
                                        <p>&nbsp;</p>
                                    {% endif %}
                                    <!-- Display phone if available -->
                                    {% if r.phone %}
                                        <p><a href="tel:{{r.phone}}"><i class="material-icons">phone</i>{{ r.phone }}</a></p>
                                    {% else %}
                                        <p>&nbsp;</p>
                                    {% endif %}
                                    <!-- Display email if available -->
                                    {% if r.email %}
                                        <p><a href="mailto:{{r.email}}"><i class="material-icons">email</i>{{ r.email }}</a></p>
                                    {% else %}
                                        <p>&nbsp;</p>
                                    {% endif %}
                                    <br><hr><br>
                                    <div class="row">
                                        <div class="col">
                                            {% if perms.resource.edit_resource %}
                                                <a href="{% url 'Edit Resource' r.id %}" class="warning-button"><i class="material-icons">edit</i>Edit</a>
                                            {% endif %}
                                        </div>
                                        <div class="col">
                                            {% if perms.resource.delete_resource %}
                                                <a href="{% url 'Delete Resource' r.id %}" class="danger-button"><i class="material-icons">delete</i>Delete</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <br><br><br><br>

    </div>

{% endblock %}