{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
    Log In
{% endblock %}{% endblock %}

{% block content %}

    <div class="parallax-subpage">
        <h1 class="text-black parallax-text" style="font-size: 4vw;">Log In to Realistic ReEntry</h1>
    </div>
    <div style="margin: auto; margin-top: 4%; width: 80%;">
        <h6><em>If you are not an employee or administrator of Realistic ReEntry, you do not need to log in.</em></h6>
        <br/>
        <form id='login-form' method="POST" action="{% url 'Login' %}" class="login">
            <table>
                {{ form }}
            </table>
            {% csrf_token %}
            <br/>
            <div class="d-flex align-items-center" style="gap: 20px;">
                <button id="id_login_button" class="orange-button" type="submit" data-target="#role-switch-modal">Log In</button>
                <div><a href="{% url 'reset_password' %}"><u>Forgot password?</u></a></div>
            </div>
        </form>
        <br/><br/><br/><br/>
    </div>
{% endblock %}

{% block page_specific_scripts %}
    {% if user.is_authenticated and user.has_more_than_one_role %}
        <script>
            $('#role-switch-modal').modal('show');
        </script>
    {% endif %}
{% endblock %}