{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Meeting Tracker Form
{% endblock %}

{% block content %}

    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">Meeting Tracker</h1>
    </div>

    <div class="container main-page-container">

        <h2>Actions:</h2><br>
        <a href="{% url 'Create Meeting Tracker Response' %}"><button type="button" class="orange-button"><i class="material-icons">add</i>Add Response</button></a>&nbsp;&nbsp;    
        <br><br><br><hr><br>

        <!-- List all case load users if the admin is logged in; otherwise, only those who are on the case load of the current logged in user -->
        {% if user.is_superuser %}
            <h2>All Responses:</h2>
        {% else %}
            <h2>Your Responses:</h2>
        {% endif %}

        <!-- List the case load users in a table format -->
        {% if responses.count > 0 %}
            <div style="overflow-x: auto;">
                <table class="styled-table">
                    <tr>
                        <th>With Who</th>
                        <th>Purpose</th>
                        <th>Date</th>
                        <th>Actions</th>
                        <th> </th>
                        <th> </th>
                    </tr>
                    {% for r in responses %}
                        <tr>
                            <td>{{ r.with_who }}</td>
                            <td>{{ r.purpose }}</td>
                            <td>{{ r.date }}</td>
                            <td class="button-cell"><a href="{% url 'Show Meeting Tracker Response' id=r.id %}" class="btn btn-sm details-button"><i class="material-icons">description</i>Details</a></td>
                            <td class="button-cell"><a href="{% url 'Edit Meeting Tracker Response' id=r.id %}" class="btn btn-sm warning-button"><i class="material-icons">edit</i>Edit</a></td>
                            <td class="button-cell"><a href="{% url 'Delete Meeting Tracker Response' id=r.id %}" class="btn btn-sm danger-button"><i class="material-icons">delete</i>Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            {% if perms.resource.edit_resource %}
                <em><p style="margin: auto; margin-top: 50px; text-align: center;">There are currently no responses.</p></em>
            {% else %}
                <em><p style="margin: auto; margin-top: 50px; text-align: center;">You currently have no responses.</p></em>
            {% endif %}
        {% endif %}
        
        <br><br><br><br>
    </div>
{% endblock %}