{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Show Response
{% endblock %}{% endblock %}

{% block content %}
    <div style="width: 80%; margin: auto; padding-top: 10vh;">
        <div class="">

            <!-- Display the nickname of the case load user if they have one -->
            {% if response.user.nickname %}
                <h1>{{ response.user.get_full_name }} ({{ response.user.nickname }})</h1>
            {% else %}
                <h1>{{ response.user.get_full_name }}</h1>
            {% endif %}
            {{response.date}} {{response.time}}
            <br>
            <br>

            <h4>Who was the meeting or event with?</h4>
            <p>{{ response.with_who }}</p>

            <h4>What is the nature or purpose of the meeting?</h4>
            <p>{{ response.purpose }}</p>

            <h4>What community or neighborhood does the meeting represent?</h4>
            <p>{{ response.neighborhood }}</p>

            <h4>How long did the meeting last?</h4>
             <p>{{ response.duration }} hours</p>

            <h4>Notes</h4>
            <p>{{ response.notes }}</p>

        </div>

        <br><hr><br>

        <a href="{% url 'Edit Meeting Tracker Response' response.id %}" class="btn btn-warning"><i class="material-icons">edit</i>Edit</a>

        <a href="{% url 'Delete Meeting Tracker Response' response.id %}" class="btn btn-danger"><i class="material-icons">delete</i>Delete</a>

    </div>
    <p>&nbsp;</p>

{% endblock %}