{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
	Show Response
{% endblock %}{% endblock %}

{% block content %}
    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">
            Meeting Tracker Response
        </h1>
    </div>

    <div class="container main-page-container">
        <div>
            <!-- Display the nickname of the case load user if they have one -->
            {% if response.user.nickname %}
                <h1>{{ response.user.get_full_name }} ({{ response.user.nickname }})</h1>
            {% else %}
                <h1>{{ response.user.get_full_name }}</h1>
            {% endif %}
            
            <p style="font-style: italic;">{{response.date}} {{response.time}} </p>
        

            <h4>Who was the meeting or event with?</h4>
            <p style="font-style: italic;">{{ response.with_who }}</p><br>

            <h4>What is the nature or purpose of the meeting?</h4>
            <p style="font-style: italic;">{{ response.purpose }}</p><br>

            <h4>What community or neighborhood does the meeting represent?</h4>
            <p style="font-style: italic;">{{ response.neighborhood }}</p><br>

            <h4>How long did the meeting last?</h4>
             <p style="font-style: italic;">{{ response.duration }} hours</p><br>

            <h4>Notes:</h4>
            <p style="font-style: italic;">{{ response.notes }}</p><br>

        </div>

        <br><br>

        <a href="{% url 'Edit Meeting Tracker Response' response.id %}" class="btn btn-warning"><i class="material-icons">edit</i>Edit</a>

        <a href="{% url 'Delete Meeting Tracker Response' response.id %}" class="btn btn-danger"><i class="material-icons">delete</i>Delete</a>

    </div>
    <br><br><br><br>

{% endblock %}