{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
{% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{% block navtitle %}
	Programs
{% endblock %}{% endblock %}


{% block content %}

    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">Our Parent Organization</h1>
    </div>

    <div class="container mt-5" > 
        <div class="row justify-content-center">
            <div class="col-md-3">
                {% load static %}
                <img src="{% static 'NewEra/OBB_logo.png' %}" width="200" height="auto" class="" alt="Operation Better Block Logo">
            </div>
        
            <div class="col-md-7">
                <h2>Operation Better Block</h2>
                
                <br> 
                <p>Realistic ReEntry is a new initiative started under the Violence Prevention Department at Operation Better Block to consolidate and develop resources and assistance for returning citizens of the community. </p>
                <p>The mission of our parent organization Operation Better Block, Inc. as a whole is to strategize, organize and mobilize, block by block, to benefit the Homewood Community. We do this by:</p>
                
                <ul style="margin-left:30px;">
                    <li>Providing technical and community development assistance to Block Associations engaged in self-help projects and self-sufficiency initiatives;</li>
                    <li>Fostering youth development through self-awareness, career exploration programs, and community volunteer opportunities;</li>
                    <li>Participating in housing development efforts to construct new housing units;</li>
                    <li>Encouraging and supporting public and private investments to stimulate economic development in the community;</li>
                    <li>Building cooperative partnerships with others to promote community sustainability.</li>
                </ul>

                <p>Learn more about OBB's mission and programs on the <a href="https://www.operationbetterblock.com" class="embedded-link" target="_blank">OBB website</a>.</p>
            </div>
            
        </div>
        <br/><br/><br/><br/>
        
    </div>
{% endblock %}


