{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
{% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{% block navtitle %}
	Programs
{% endblock %}{% endblock %}


{% block content %}

    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">Our Parent Organization</h1>
    </div>

    <div class="container mt-5" > 
        <div class="row justify-content-center">
            <div class="col-md-3">
                {% load static %}
                <img src="{% static 'NewEra/reentry_logo.jpg' %}" width="200" height="auto" class="" alt="ReEntry Logo">
            </div>
        
            <div class="col-md-7">
                <h2>Operation Better Block</h2>
                <br /> 
                <p>intro ... </p>
            </div>
            
        </div>
        <br/><br/><br/><br/>
        
    </div>
{% endblock %}


