{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Reset Password 
{% endblock %}

{% block content %}

	<div class="parallax-subpage">
		<h1 class="text-black parallax-text" ">Reset Password</h1>
	</div>

	<div class="container main-page-container">
        <div class="row">
            <div class="col">

	            <br/><br/>

	            <!-- Only allow the user to change their password if they are already logged in -->
	            {% if request.user.is_authenticated == False %}
		            <p style="margin: auto; text-align: left;">Enter your email address below and you'll receive an email with instructions to reset your password.</p>
		            <br/>

		            <form method="POST" enctype="multipart/form-data" class="resource-form">
		                {% csrf_token %}
		                <table>
		                    {{ form }}
		                </table>
		                <br/>
		                <button class="orange-button" type="submit">Send Password Reset Email</button>
		            </form>
		        {% else %}
		        	<p style="margin: auto; text-align: left;">You are already logged in. To reset your password, please log out.</p>
		        {% endif %}
            </div>
        </div>
		<br><br><br><br>
    </div>
{% endblock %}