{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Reset Password Done
{% endblock %}

{% block content %}

	<div class="parallax-subpage">
		<h1 class="text-black parallax-text" ">Reset Password</h1>
	</div>

	<div class="container main-page-container">
        <div class="row">
            <div class="col">

	            <br/>

	            <p style="margin: auto; text-align: center;">Instructions for resetting your password have been sent to your email address. If you don't see the email, please check your spam folder.</p>

            </div>
        </div>
		<br><br><br><br>
    </div>
{% endblock %}