{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
<!-- {% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css"> -->
{% endblock %}

{% block title %}
	Referrals
{% endblock %}

{% block content %}
    <div class="parallax-subpage">
        <h1 class="text-black parallax-text">General Referrals</h1>
    </div>

    <div class="container main-page-container">
        <h2>Actions:</h2><br>
        <p>*To create a referral, go to the resources tab and click "Make Referral".</p>
        <br><hr><br>
        
        <!-- Display referrals as tables split into groups across pages -->
		<h2>All Referrals:</h2><br>
        {% if referrals.paginator.count > 0 %}
            <div style="overflow-x: auto">
                <table>
                    <tr>
                        <th>Referral Date</th>
                        <th>Referral Time</th>
                        {% if perms.referral.edit_referral %}
                            <th>SOW</th>
                        {% endif %}
                        <th>Case Load User</th>
                        <th>Accessed?</th>
                    </tr>
                    {% for referral in referrals %}
                        <tr>
                            <td>{{ referral.referral_date|date:'M d, Y' }}</td>
                            <td>{{ referral.referral_date|time:'g:i A' }}</td>
                            
                            {% if perms.referral.edit_referral %}
                                <td>{{ referral.user }}</td>
                            {% endif %}

                            {% if referral.caseUser %}
                                <td>{{ referral.caseUser.get_full_name }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if referral.date_accessed %}
                                <td style="text-align: center;">&#10004;</td>
                            {% else %}
                                <td style="text-align: center;">&#10060;</td>
                            {% endif %}

                            <td class="button-cell"><a href="{% url 'Show Referral' id=referral.id %}" class="btn btn-sm details-button"><i class="material-icons">description</i>Details</a></td>&nbsp;&nbsp;
                            <td style="padding: 2px;"><a href="{% url 'Edit Referral Notes' id=referral.id %}" class="btn btn-sm warning-button"><i class="material-icons">edit</i>Edit Notes</a></td>
                        </tr>
                    {% endfor %}
                </table>

                <br>
                <!-- Referral Pagination -->
                {% if referrals.has_other_pages %}
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            {% if referrals.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{ referrals.previous_page_number }}" class="page-link" aria-label="Previous">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Previous</span></li>
                            {% endif %}

                            {% for i in referrals.paginator.page_range %}
                                {% if referrals.number == i %}
                                    <li class="page-item active">
                                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                                    </li>
                                {% elif i < referrals.number|add:6 and i > referrals.number|add:-6 %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if referrals.has_next %}
                                <li class="page-item">
                                    <a href="?page={{ referrals.next_page_number }}" class="page-link" aria-label="Previous">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">Next</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>

        {% else %}
            {% if perms.resource.edit_resource %}
                <p style="margin: auto; margin-top: 50px; text-align: center;"><em>No referrals have been made yet.</em></p>
            {% else %}
                <p style="margin: auto; margin-top: 50px; text-align: center;"><em>You have not made any referrals yet.</em></p>
            {% endif %}
        {% endif %}

        <br><br><br><br>
    </div>
{% endblock %}