{% extends "NewEra/base.html" %}

{% block title %}
	Resources
{% endblock %}

{% block content %}

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

	<div class="parallax-subpage">
        <h1 class="text-black parallax-text" style="font-size: 4vw;">Resources</h1>
    </div>
	<!-- only for users: Display referral information -->
		{% if request.user.is_authenticated %}
			<div class="container main-page-container">
				<h2>Actions:</h2><br>
				<a href="{% url 'Create Resource' %}"><button type="button" class="orange-button"><i class="material-icons">add</i>Add Resource</button></a>
				<p style="padding-top: 20px; padding-bottom: 0px; padding-left: 0px; text-align: left;">*To make referrals, click "Make Referral" at bottom and select the resources you'd like. When you're done, click "Select Resources" to finish the referral.</p>
				<!-- SOWs can make referrals through the 'Make Referrals' button -->
				<button id="make-referral" type="button" class="white-button">Make Referral</button>
				<button id="commit-referral" onclick="commitReferrals()" class="danger-button"></button>
				<br><hr><br>
				<h2>View Resources:</h2><br>
				
			<!-- </div> -->
		{% else %}
			<p></p>
		{% endif %}
	<!-- </div> -->

		<!-- FILTER SECTION -->
		<div class="container" style="padding-left: 0vh;">
			<div aria-label="Filter Controls">
				<form method="GET" action="">
					<a class="btn orange-button dropdown-toggle" data-toggle="collapse" href="#filter-dropdown" role="button" aria-expanded="false" aria-controls="filter-dropdown">Filter Resources</a>
					
					<!-- Text search bar -->
					<input id="searchBar" name="query" value="{{ request.GET.query }}" class="form-control" type="search" placeholder="Search for a Resource" aria-label="Search">
					<button class="bordered-button" type="submit">Search</button>
				</form>
			</div>

			<div class="collapse" id="filter-dropdown">
				<br>
				<div id="filter-card" class="card card-body">
					<!-- Tag filter actions -->
					<form action="" method="GET" class="tag-form">
						
						<!-- DEPENDENCY ON THIS SECTION STRUCTURE: in resourceScripts.js -->
						<div class="scroll-section">
							{{ filter.form.as_table }}
						</div>

						<button class="orange-button" type="submit"><i class="material-icons">filter_list</i>Filter</button>&nbsp;&nbsp;&nbsp;
						<button class="bordered-button" onclick="uncheckAll(event);">Clear Selection</button>
					</form>
				</div>
			</div>
			<br>
		</div> 
		<!-- FILTER SECTION -->

    <div class="container" style="padding-left: 0vh;">

        {% if active_resources.paginator.count > 0 or inactive_resources.count > 0 %}
            {% if perms.resource.edit_resource %}
                <h4>Active:</h4>
                <br>
            {% endif %}

			<!-- Active resource listing and pagination; seen by all users and visitors -->
			{% if active_resources.paginator.count > 0 %}
				<div class="row">
                    {% for r in active_resources %}
	                    <div class="col-lg-4 mb-3">
	                        <div id="resource-{{ r.id }}" class="card resource-card">
	                            {% if r.image %}
	                            	<img class="card-img-top" src="{% url 'Image' r.id %}" alt="Card image cap">
	                            {% endif %} 
	                            <div class="card-body">
	                                <h4 class="card-title">{{ r.name }}</h4>
									{% for t in r.tags.all %}
										<div class="tag-capsule"> {{ t.name }} </div>
									{% endfor %}
									<br><br>
	                                <p class="card-text">{{r.description|truncatewords:30}}</p>
									<a class="read-link" href="{% url 'Show Resource' id=r.id %}"><b>read more</b></a>
	                                {% if perms.resource.create_resource %}
	                                    <p>Views: {{ r.clicks }}</p>
	                                {% endif %}
	                                <div class="row">
	                                    <div class="col">
	                                        {% if perms.resource.edit_resource %}
	                                            <a href="{% url 'Edit Resource' r.id %}" class="warning-button"><i class="material-icons">edit</i></a>
	                                        {% endif %}
	                                    </div>
	                                    <div class="col">
	                                        {% if perms.resource.delete_resource %}
	                                            <a href="{% url 'Delete Resource' r.id %}" class="danger-button"><i class="material-icons">delete</i></a>
	                                        {% endif %}
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                {% endfor %}				
				</div>

				<div class="row">
					<div class="col">
						<br>
						<!-- Active Resource Pagination -->
						{% if active_resources.has_other_pages %}

							<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
									{% if active_resources.has_previous %}
										<li class="page-item">
											<a href="?a_page={{ active_resources.previous_page_number }}&query={{ request.GET.query }}{{ filterQuery }}" class="page-link" aria-label="Previous">Previous</a>
										</li>
									{% else %}
										<li class="page-item disabled"><span class="page-link">Previous</span></li>
									{% endif %}
									{% for i in active_resources.paginator.page_range %}
										{% if active_resources.number == i %}
											<li class="page-item active">
												<span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
											</li>
										{% else %}
											<li class="page-item">
												<a class="page-link" href="?a_page={{ i }}&query={{ request.GET.query }}{{ filterQuery }}">{{ i }}</a>
											</li>
										{% endif %}
									{% endfor %}
									{% if active_resources.has_next %}
										<li class="page-item">
											<a href="?a_page={{ active_resources.next_page_number }}&query={{ request.GET.query }}{{ filterQuery }}" class="page-link" aria-label="Previous">Next</a>
										</li>
									{% else %}
										<li class="page-item disabled"><span class="page-link">Next</span></li>
									{% endif %}
								</ul>
							</nav>

						{% endif %}
					</div>
				</div>

			{% else %}
				<p style="margin: auto; margin-top: 50px; text-align: cennter;"><em>There are no active resources at this time.</em></p>
			{% endif %}

			<!-- Inactive resource listing and pagination; seen by only admins -->
			{% if perms.resource.create_resource %}
				{% if inactive_resources.paginator.count > 0 %}
					<h4>Inactive:</h4>
					<br>
					<div class="row">
	                    {% for r in inactive_resources %}
	                    <div class="col-lg-4 mb-3">
	                        <div id="resource-{{ r.id }}" class="card resource-card">
	                            {% if r.image %}
	                            	<img class="card-img-top" src="{% url 'Image' r.id %}" alt="Card image cap">
	                            {% endif %} 
	                            <div class="card-body">
	                                <h4 class="card-title">{{ r.name }}</h4>
									<br><br>
	                                <p class="card-text">{{r.description|truncatewords:35}}</p>
	                                {% if perms.resource.create_resource %}
	                                    <p>Views: {{ r.clicks }}</p>
	                                {% endif %}
	                                <br>
	                                <a class="read-link" href="{% url 'Show Resource' id=r.id %}"><b>Read More</b></a>
	                                <br><br>
	                                <div class="row">
	                                    <div class="col">
	                                        {% if perms.resource.edit_resource %}
	                                            <a href="{% url 'Edit Resource' r.id %}" class="warning-button"><i class="material-icons">edit</i>Edit</a>
	                                        {% endif %}
	                                    </div>
	                                    <div class="col">
	                                        {% if perms.resource.delete_resource %}
	                                            <a href="{% url 'Delete Resource' r.id %}" class="danger-button"><i class="material-icons">delete</i>Delete</a>
	                                        {% endif %}
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                	{% endfor %}				
					</div>

					<div class="row">
						<div class="col">
							<br>
							<!-- Inactive Resource Pagination -->
							{% if inactive_resources.has_other_pages %}

								<nav aria-label="Page navigation">
									<ul class="pagination justify-content-center">
										{% if inactive_resources.has_previous %}
											<li class="page-item">
												<a href="?i_page={{ inactive_resources.previous_page_number }}&query={{ request.GET.query }}{{ filterQuery }}" class="page-link" aria-label="Previous">Previous</a>
											</li>
										{% else %}
											<li class="page-item disabled"><span class="page-link">Previous</span></li>
										{% endif %}
										{% for i in inactive_resources.paginator.page_range %}
											{% if inactive_resources.number == i %}
												<li class="page-item active">
													<span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
												</li>
											{% else %}
												<li class="page-item">
													<a class="page-link" href="?i_page={{ i }}&query={{ request.GET.query }}{{ filterQuery }}">{{ i }}</a>
												</li>
											{% endif %}
										{% endfor %}
										{% if inactive_resources.has_next %}
											<li class="page-item">
												<a href="?i_page={{ inactive_resources.next_page_number }}&query={{ request.GET.query }}{{ filterQuery }}" class="page-link" aria-label="Previous">Next</a>
											</li>
										{% else %}
											<li class="page-item disabled"><span class="page-link">Next</span></li>
										{% endif %}
									</ul>
								</nav>

							{% endif %}
						</div>
					</div>

				{% else %}
					<p style="margin: auto; margin-top: 50px; text-align: center;"><em>There are no inactive resources at this time.</em></p>
				{% endif %}
			{% endif %}

		{% else %}
		<p style="margin: auto; margin-top: 50px; text-align: center;"><em>There are no resources at this time.</em></p>
		<br><br>
		{% endif %}

	</div>


    <br><br><br><br>

{% endblock %}

{% block page_specific_scripts %}
{% if request.user.is_authenticated and not user.is_supervisor %}{%load static %}
	<script src="{% static 'NewEra/referrals.js' %}" type="text/javascript"></script>
{% endif %}

<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script src="{% static 'NewEra/resources.js' %}" type="text/javascript"></script>
{% endblock %}
