<div>
    <p>{% if client.first_name and client.last_name %} {{ client.first_name }} {{ client.last_name }} {% else%} Anonymous user {% endif %} has signed up for Realistic ReEntry services. Below is their information:</p>
    <p>
    <ul> 
        <li>
            First Name: {% if client.first_name %} {{ client.first_name }} {% endif %}
        </li>
        <li>
            Last Name: {% if client.last_name %} {{ client.last_name }} {% endif %}
        </li>
        <li>
            Email: {% if client.email %} {{ client.email }} {% endif %}
        </li>
        <li>
            Phone: {% if client.phone %} {{ client.phone }} {% endif %}
        </li>
        <li>
            Neighborhood: {% if client.neighborhood %} {{ client.neighborhood }} {% endif %}
        </li>
        <li>
            Case Label: {% if client.case_label %} {{ client.case_label }} {% endif %}
        </li>
        <li>
            Age: {% if client.age %} {{ client.age }} {% endif %}
        </li>
        <li>
            Zip Code: {% if client.zip_code %} {{ client.zip_code }} {% endif %}
        </li>
        <li>
            Education: {% if client.education %} {{ client.education }} {% endif %}
        </li>
        <li>
            Voter Registration: {% if client.is_vote_registered %} {{ client.is_vote_registered }} {% endif %}
        </li>
    </ul>
    </p>
</div>