{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
    Contact Us
{% endblock %}{% endblock %}

{% block content %}

    <div class="parallax-subpage">
        <h1 class="text-black parallax-text" ">Sign Up For ReEntry Services</h1>
    </div>

    <div style="margin: auto; margin-top: 4%; width: 80%;">
        <form id='sign-up-form' method="POST" action="{% url 'Sign Up' %}" class="sign-up">
            <table>
                {{ form }}
            </table>
            {% csrf_token %}

            <br><br>
            <button id="id_sign_up_button" class="orange-button" type="submit" data-target="#role-switch-modal">Sign Up
            </button>
        </form>
        <br/>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    {{ form.media.js }}

{% endblock %}