{% extends "NewEra/base.html" %}

{% block title %}{% block navtitle %}
    Log In
{% endblock %}{% endblock %}

{% block content %}
    <div style="margin: auto; margin-top: 4%; width: 80%;">
        <h3>Sign Up For Operation Better Block ReEntry Services</h3>
        <hr/>
        <form id='sign-up-form' method="POST" action="{% url 'Sign Up' %}" class="sign-up">
            <table>
                {{ form }}
            </table>
            {% csrf_token %}
            <hr/>
            <button id="id_sign_up_button" class="btn btn-primary" type="submit" data-target="#role-switch-modal">Sign Up
            </button>
        </form>
        <br/>
    </div>
{% endblock %}