{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Weekly Student Update 
{% endblock %}

{% block content %}
    <h1 style="margin: auto; margin-top: 50px; text-align: center;">
		Weekly Student Update 
	</h1>

    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#collapseStudentWeeklyUpdate" aria-expanded="false" aria-controls="collapseStudentWeeklyUpdate">Add Weekly Student Update</button>
            </div>
            <div class="col text-right">
                <form method="GET" action="{% url 'Weekly Student Update' %}" class="d-inline-block">
                    <label for="date_created_filter" class="mr-2">Filter By:</label>
                    <select name="date_created_filter" onchange="this.form.submit()" class="d-inline-block">
                        <option value="7days" {% if request.GET.date_created_filter == '7days' %}selected{% endif %}>Past 7 days</option>
                        <option value="week_to_date" {% if request.GET.date_created_filter == 'week_to_date' %}selected{% endif %}>This Week to date</option>
                        <option value="30days" {% if request.GET.date_created_filter == '30days' %}selected{% endif %}>Past 30 Days</option>
                        <option value="month_to_date" {% if request.GET.date_created_filter == 'month_to_date' %}selected{% endif %}>This Month to date</option>
                        <option value="year" {% if request.GET.date_created_filter == 'year' %}selected{% endif %}>Past year</option>
                        <option value="year_to_date" {% if request.GET.date_created_filter == 'year_to_date' %}selected{% endif %}>This Year to date</option>
                        <option value="all" {% if request.GET.date_created_filter == 'all' %}selected{% endif %}>All</option>
                    </select>
                </form>
                <form action="{% url 'Download Weekly Student Update' %}" method="get" class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Download</button>
                </form>
            </div>
        </div>

        <div class="collapse {{ modalStatus }}" id="collapseStudentWeeklyUpdate">
            <br>
            <div class="card card-body">
                <form method="POST" action="{% url 'Weekly Student Update' %}">
                    <table>
                        <tr>
                            <th><label for="id_student">Select Student:</label></th>
                            <td>
                                <select name="id_student" id="id_student" class="form-control">
                                    {% for student in students %}
                                        <option value="{{ student.id }}">{{ student.get_full_name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        {{form}}
                    </table>
                    
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>  
            </div>
        </div>

        <br>

        <!-- List all weekly updates if the admin is logged in; otherwise, only those who are on the weekly updates of the current logged in user -->
        {% if user.is_superuser or user.is_safe_passage_coordinator_supervisor %}
            <h2>All Weekly Updates:</h2>
        {% else %}
            <h2>Your Weekly Updates:</h2>
        {% endif %}

        <!-- List the weekly updates in a table format -->
        {% if weekly_student_updates.count > 0 %}
            <div style="overflow-x: auto;">
                <table>
                    <tr>
                        {% if user.is_superuser or user.is_safe_passage_coordinator_supervisor %}
                            <th>Safe Passage Coordinator</th>
                        {% endif %}
                        <th>Name</th>
                        <th>Weekly Absences</th>
                        <th>Extra Curricular</th>
                        <th>Special Needs</th>
                        <th>Goals</th>
                        <th>Notes</th>
                        <th>Files</th>
                        <th>Active?</th>
                    </tr>
                    {% for update in weekly_student_updates %}
                        <tr>
                            {% if user.is_superuser or user.is_safe_passage_coordinator_supervisor %}
                                <td>{{ update.student.user.get_full_name }}</td>
                            {% endif %}
                            <td>{{ update.student.get_full_name }}</td>
                            <td>{{ update.weekly_absences }}</td>
                            <td>{{ update.extra_curricular|linebreaksbr }}</td>
                            <td>{{ update.special_needs|linebreaksbr }}</td>
                            <td>{{ update.goals|linebreaksbr }}</td>
                            <td>{{ update.notes|linebreaksbr }}</td>
                            <td>
                                {% for file_upload in update.weekly_update_uploads.all %}
                                    <a href="{{ file_upload.file.url }}" download="{{ file_upload.file.name }}">{{ file_upload.filename }}</a><br>
                                {% empty %}
                                    No Files Uploaded
                                {% endfor %}
                            </td>
                            {% if update.is_active %}
                                <td>&#10004;</td>
                            {% else %}
                                <td>&#10060;</td>
                            {% endif %}
                            <td class="button-cell"><a href="{% url 'Upload Weekly Student Update Files' id=update.id %}" class="btn btn-sm btn-primary"><i class="material-icons">cloud_upload</i>Manage Files</a></td>
                            <td class="button-cell"><a href="{% url 'Show Weekly Student Update' id=update.id %}" class="btn btn-sm btn-primary"><i class="material-icons">description</i>Details</a></td>
                            <td class="button-cell"><a href="{% url 'Edit Weekly Student Update' id=update.id %}" class="btn btn-sm btn-warning"><i class="material-icons">edit</i>Edit</a></td>
                            <td class="button-cell"><a href="{% url 'Delete Weekly Student Update' id=update.id %}" class="btn btn-sm btn-danger"><i class="material-icons">delete</i>Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            {% if perms.resource.edit_resource %}
                <em><p style="margin: auto;">There are currently no Weekly Student Updates.</p></em>
            {% else %}
                <em><p style="margin: auto;">There is no one currently on Weekly Student Updates.</p></em>
            {% endif %}
        {% endif %}
        
        <br></br>
    </div>
{% endblock %}