{% extends "NewEra/base.html" %}

{% block page_specific_styles %}{% endblock %}

{% block title %}
	Student 
{% endblock %}

{% block content %}
    <h1 style="margin: auto; margin-top: 50px; text-align: center;">
		Student 
	</h1>

    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary float-left" data-toggle="collapse" data-target="#collapseStudent" aria-expanded="false" aria-controls="collapseStudent">Add Student</button>
            </div>
            <div class="col text-right">
                <form method="GET" action="{% url 'Student' %}" class="d-inline-block">
                    <label for="date_created_filter" class="mr-2">Filter By:</label>
                    <select name="date_created_filter" onchange="this.form.submit()" class="d-inline-block">
                        <option value="all" {% if request.GET.date_created_filter == 'all' %}selected{% endif %}>All</option>
                        <option value="7days" {% if request.GET.date_created_filter == '7days' %}selected{% endif %}>Past 7 days</option>
                        <option value="week_to_date" {% if request.GET.date_created_filter == 'week_to_date' %}selected{% endif %}>This Week to date</option>
                        <option value="30days" {% if request.GET.date_created_filter == '30days' %}selected{% endif %}>Past 30 Days</option>
                        <option value="month_to_date" {% if request.GET.date_created_filter == 'month_to_date' %}selected{% endif %}>This Month to date</option>
                        <option value="year" {% if request.GET.date_created_filter == 'year' %}selected{% endif %}>Past year</option>
                        <option value="year_to_date" {% if request.GET.date_created_filter == 'year_to_date' %}selected{% endif %}>This Year to date</option>
                    </select>
                </form>
                <form action="{% url 'Download Students' %}" method="get" class="d-inline-block">
                    <button type="submit" class="btn btn-primary">Download</button>
                </form>
            </div>
        </div>

        <div class="collapse {{ modalStatus }}" id="collapseStudent">
            <br>
            <div class="card card-body">
                <form method="POST" action="{% url 'Student' %}">
                    <table>
                        {{form}}
                    </table>
                    
                    {% if user.is_superuser or user.is_safe_passage_coordinator_supervisor %}
                        <div style="margin-left: 10px;">
                            <label><b>Safe Passage Coordinator:</b></label><br>
                            <select name="staff_id">
                                <!-- List users in staff -->
                                {% for user in staff %}
                                    <option value="{{ user.id }}">{{ user.first_name|add:' '|add:user.last_name }}</option>
                                {% endfor %}
                            </select>
                        </div><br>
                    {% else %}
                        <input type="hidden" name="staff_id" value="{{ user.id }}"><br>
                    {% endif %}
                    
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>  
            </div>
        </div>

        <br>

        <!-- List all students if the admin is logged in; otherwise, only those who are allowed -->
        {% if user.is_superuser or user.is_safe_passage_coordinator_supervisor %}
            <h2>All Students:</h2>
        {% else %}
            <h2>Your Students:</h2>
        {% endif %}

        <!-- List the case load users in a table format -->
        {% if students %}
            <div style="overflow-x: auto;">
                <table>
                    <tr>
                        {% if user.is_superuser or user.is_safe_passage_coordinator_supervisor %}
                            <th>Safe Passage Coordinator</th>
                        {% endif %}
                        <th>Name</th>
                        <th>Graduation Year</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Parent</th>
                        <th>Parent Email</th>
                        <th>Parent Phone</th>
                        <th>Active?</th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            {% if user.is_superuser or user.is_safe_passage_coordinator_supervisor %}
                                <td>{{ student.user.first_name|add:' '|add:student.user.last_name }}</td>
                            {% endif %}
                            <td>{{ student.get_full_name }}</td>
                            <td>{{ student.graduation_year }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.phone }}</td>
                            <td>{{ student.get_parent_full_name }}</td>
                            <td>{{ student.parent_email }}</td>
                            <td>{{ student.parent_phone }}</td>
                            {% if student.is_active %}
                                <td>&#10004;</td>
                            {% else %}
                                <td>&#10060;</td>
                            {% endif %}
                            <td class="button-cell"><a href="{% url 'Show Student' id=student.id %}" class="btn btn-sm btn-primary"><i class="material-icons">description</i>Details</a></td>
                            <td class="button-cell"><a href="{% url 'Edit Student' id=student.id %}" class="btn btn-sm btn-warning"><i class="material-icons">edit</i>Edit</a></td>
                            <td class="button-cell"><a href="{% url 'Delete Student' id=student.id %}" class="btn btn-sm btn-danger"><i class="material-icons">delete</i>Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            {% if perms.resource.edit_resource %}
                <em><p style="margin: auto;">There are currently no Students.</p></em>
            {% else %}
                <em><p style="margin: auto;">There are currently no Students.</p></em>
            {% endif %}
        {% endif %}
        
        <br></br>
    </div>
{% endblock %}