{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
    <style>
        .form-field {
            margin-bottom: 10px;
        }
    </style>
{% endblock %}

{% block title %}
    Weekly Student Update Upload
{% endblock %}

{% block content %}
    <h1 style="margin: auto; margin-top: 50px; text-align: center;">
        Weekly Student Update Upload
    </h1>

    <div class="container">
        <hr>
        <div class="card card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="form-field">
                        {{ form.id }}
                        {{ form.file.label_tag }}
                        {{ form.file }}
                        {% if form.file.value %}
                            <a href="{{ form.file.value.url }}" target="_blank">View File</a>
                        {% endif %}
                        {{ form.DELETE.label_tag }}
                        {{ form.DELETE }}
                    </div>
                {% endfor %}
                <input type="submit" value="Upload" class="btn btn-primary">
            </form>
        </div>
        <a href="{% url 'Weekly Student Update' %}" class="btn btn-primary">Go Back to Weekly Student Update</a>
    </div>
{% endblock %}
