{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
{% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block title %}
	Tags
{% endblock %}

{% block content %}
	
	<div class="parallax-subpage">
		<h1 class="text-black parallax-text">Tags</h1>
	</div>

	<div class="container main-page-container">
		{% if perms.tag.create_tag %}
			<a href="{% url 'Create Tag' %}" class="orange-button"><i class="material-icons">add</i>Add Tag</a>
		{% endif %}
	</div>
	<p>&nbsp;</p>
	{% if tags.count > 0 %}
		<div class="container">
			<div class="row">
				<!-- Display each tag as a card -->
				{% for t in tags %}
					<div class="col-sm-4 mb-3">
						<div class="card border-0 shadow">
			                <div class="card-body">
								<p style="display: inline;" class="card-title">{{ t.name }}</p> <br />
								<p style="display: inline;" class="card-text">{{ t.tag_type }}</p>
								<span style="float: right; display: inline;">
									{% if perms.tag.edit_tag %}
										<a href="{% url 'Edit Tag' t.id %}" class="btn btn-sm btn-warning"><i class="material-icons">edit</i></a>
									{% endif %}
									{% if perms.tag.delete_tag %}
								        <a href="{% url 'Delete Tag' t.id %}" class="btn btn-sm btn-danger"><i class="material-icons">delete</i></a>
								    {% endif %}
								</span>
			               	</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	{% else %}
	  <p style="margin: auto; margin-top: 50px; text-align: center;"><em>There are no tags at this time.</em></p>
	{% endif %}
	<p>&nbsp;</p>
{% endblock %}