{% extends "NewEra/base.html" %}

{% block page_specific_styles %}
{% load static %}
<link href="{% static 'NewEra/index_styles.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{% block navtitle %}
	Programs
{% endblock %}{% endblock %}


{% block content %}

    <div class="parallax-subpage">
        <h1 class="text-black parallax-text" style="font-size: 4vw;">Programs</h1>
    </div>

    <div class="container mt-5" > 
        <div class="row justify-content-center">
            <div class="col-md-3">
                {% load static %}
                <img src="{% static 'NewEra/YARP_logo.png' %}" width="250" height="auto" class="" alt="YARP Logo">
            </div>
        
            <div class="col-md-7">
                <h2>YARP</h2>
                <br/> 
                <p>YARP (Young Adults ReEntry Program) is a partnership between Partner4Work (P4W), Operation Better Block, the Allegheny County Jail Collaborative and local programs. With a mission to serve young adults (age 18-24) with justice system involvement, YARP works to provide 40 young adults with targeted workforce training programs that are tied directly to employers. </p>
                <p>Participants will be recruited based upon their interest in several in-demand industries in Allegheny County and the City of Pittsburgh, including healthcare, construction, financial services, transportation and logistics, and other high growth sectors. YARP works with employers in developing a screening process to ensure participants are entering fields they have long-term interest in and also meet initial employer criteria for. </p>
                <p>This program builds upon existing programming, especially that of Operation Better Block, to create targeted career pathway opportunities for participants and provide them the necessary support to complete any trainings or on-the-job work experiences.</p>
            </div>
            
        </div>
        <br/><br/><br/><br/>
        
    </div>
{% endblock %}


