body {
    background-color: #F6F6F6; /* Light gray background */
  }

div.heading-banner {
    margin: auto; 
    padding-top: 12vh; 
    padding-bottom: 7vh; 
    text-align: center;
    background-color: lightgray;
}


div.heading-banner h1 {
    font-size: 2rem;
}

div.heading-banner p {
    font-weight: 100;
}

div.secondary-content {
    padding-top: 5vh;
}

.navbar-nav > .nav-item > .nav-link {
    padding-left: 2rem; 
    padding-right: 1rem; 
}

.main-page-container {
    padding-top: 7.5vh;
    padding-bottom: 5.5vh;
}

.parallax-subpage{
    position: relative;
    background-image: url("/static/NewEra/homepage_bg.jpg");
    height: 100px;
    padding-top: 6vh; 
    padding-bottom: 10vh; 
    text-align: left;
    padding-left: 12vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -25px;
}

.parallax{
    /* Credit: https://www.w3schools.com/howto/howto_css_parallax.asp */
    position: relative;
    background-image: url("/static/NewEra/homepage_bg.jpg");
    height: 400px;
    padding-top: 16vh; 
    padding-bottom: 7vh; 
    text-align: left;
    padding-left: 20vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -25px;
}


.parallax-text {
    text-shadow: 0px 0px 0px black; 
}

h1.parallax-text {
    letter-spacing: 1px;
}

.subtitle {
    font-size: 1.2em;
}

.footer {
    background-color: black;
    color: white;
    text-align: left;
    padding: 40px 80px;
    bottom: 0;
    width: 100%;
}

.footer p {
    text-align: left;
    margin: 5px;
    padding: 3px;
}


.footer p.footer-rights {
    margin-top: 20px;
    margin-bottom: -10px;
}

.home-founder {
    /* border: 2px solid b lack;  */
    padding: 50px 30px; 
    margin: 0px 50px;  
    color: black;
    position: relative; 
}

.home-founder p {
    font-size: 20px; 
}

.decorative-box {
    border: 2px solid black; 
    padding: 50px 80px; 
    margin: 30px -200px;  
    background-color: white; 
    color: black;
    position: relative; 
}

.decorative-box p {
    font-size: 20px; /* Set paragraph text size to 30px */
}

.box-logo {
    position: absolute; /* Position the logo absolutely within the decorative box */
    bottom: 0; /* Align to the bottom of the box */
    right: 0; /* Align to the left side of the box */
    width: 60px; /* Make the logo very small */
    height: auto; /* Maintain aspect ratio */
    margin: -20px; /* Adjust if needed to overlap the corner as desired */
}

.orange-button {
    background-color: #F0430D;
    color: white;
    border: 0px;
    padding: 5px 15px;
    border-radius: 12px;
}

.orange-button:hover {
    background-color:#F0430D;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    transform: translateX(-1px), translateY(-1px);
}

.white-button {
    background-color: white;
    color: black;
    border-radius: 12px;
    border: 0px;
    padding: 5px 15px;
    border-radius: 12px;
}


.white-button:hover {
    background-color: white;
    color: rgb(90, 90, 90); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    transform: translateX(-1px), translateY(-1px);
}


.bordered-button {
    background-color: white;
    color: black;
    border-radius: 12px;
    border: 1px solid darkgray; 
    padding: 5px 15px;
    border-radius: 12px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

.bordered-button:hover {
    background-color: rgb(240, 240, 240);
    color: black; 
    border-color: black; 
}

.red-button {
    background-color: #e90c0c;
    color: white;
    border: 0px;
    padding: 5px 15px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.red-button:hover {
    background-color: #e90c0c;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    transform: translateX(-1px), translateY(-1px);
}

.green-button {
    background-color: #a7e094;
    color: black;
    border: 0px;
    padding: 5px 15px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.green-button:hover {
    background-color: #a7e094;
    color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); 
    transform: translateX(-1px), translateY(-1px);
}

.beige {
    background-color: #F9F4EC;
}

.list-unstyled {
    list-style: none;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    background-color: white;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #ffffff;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 1px solid darkGray; /* Matched the border color with the header */
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #ffffff; /* Adjusted for consistency with the header's color scheme */
}


.resource-card {
    background-color: white;
    color: black;
    height: 300px;
    overflow: hidden; 
    border-radius: 20px;
    border: 0; /* Removes the default border */
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for depth */
    margin-bottom: 30px; /* Adds space between cards */
}

